/* start Account balance section */
/* bars icon */
.icon {
  margin-top: 8px;
}
.icon div {
  width: 30px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 0 0 6px 0;
}
.goldBalance {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.goldBalance > div {
  padding-top: 8px;
}
.goldBalance div p {
  color: var(--color-primary);
  padding: 3px;
}

.priceLimit
{
  background-color: black !important;
  border: 1px solid #3a3a3a !important;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.formInput {
  background-color: black !important;
  color: white !important;
  border: 1px solid #3a3a3a !important;
}
/* end Account balance section */
